@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  @apply bg-white dark:bg-gray-900 text-black dark:text-white;
}

:root {
  color-scheme: light dark;
}

.dark {
  color-scheme: dark;
}

@media (max-width: 640px) {
  .dark-mode-toggle {
    visibility: visible !important; /* Ensure the toggle button is visible on mobile */
    z-index: 1000; /* Ensure it's positioned above other content */
  }
}

